
:root {

/* Fonts */
--main-font: Roboto, sans-serif;
--secondary-font: Raleway, sans-serif;

/* Text colors */
--main-txt-cl: #212121;
--secondary-txt-cl: #757575;
--accent-txt-cl: #2196F3;


/* Background colors */
--main-bg-cl: #FFFFFF;
--secondary-bg-cl: #2F303A;
--icon-bg-cl:  #F5F4FA;

/* Others */
--fonts-st: normal;
--animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

body {
font-family: var(--main-font);
color: var(--light-txt-cl);
}

/* reset */
h1,h2,h3,h4,h5,h6,p,ul {
margin: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}


/* Link*/


.link {
text-decoration: none;
color: currentColor;
font-family: var(--main-font);
font-style: var(--fonts-st);
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--main-txt-cl);
transition: color var(--animation), box-shadow var(--animation);  
}

.link:hover,
.link:focus
 {
color: var(--accent-txt-cl);
}


.customer__link {
display: flex;
align-items: center; 
justify-content: center;
width: 170px;   
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
background: var(--main-bg-cl);
transition: fill var(--animation), border var(--animation); 
}
    
.customer__link:hover , 
.customer__link:focus {
border: 1px solid var(--accent-txt-cl);   
}

.header__item--link  {
display: flex;
align-items: center;
gap: 10px;
color: var(--secondary-txt-cl);
transition: fill var(--animation);
}

.header__item--link :hover,
.header__item--link :focus {
color: var(--accent-txt-cl);
}

.link__color {
display: flex;  
align-items: center; 
justify-content: center;
width: 44px;
height: 44px;
background-color: var(--main-bg-cl);
border-radius: 50%;
transition: fill var(--animation), background var(--animation);
}

.link__color:hover,
.link__color:focus {
background-color: var(--accent-txt-cl);
}

.footer__link{
font-family: var(--main-font);
font-style: var(--fonts-st);
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
}

.footer--link {
background-color:rgba(255, 255, 255, 0.1);;
}


/* List */


.list {
list-style: none;
margin: 0;
padding: 0;
}

.header__list {
display: flex;
gap: 50px;
padding-top: 25px;
padding-bottom: 25px;
}

.main__list {
display: flex;
gap: 30px;
}

.team__list {
display: flex;
gap: 10px;
justify-content: center;  
}

.footer__list {
display: flex;
gap: 10px;
justify-content: center;  
}
    
.address__list {
text-decoration: none;
width: 231px;
}

.filters__list {
flex-wrap: wrap;
}


/* Container */


.container {
width: 1200px;
padding-left: 15px;   
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.container--position {
display: flex;    
}

.advantage__container {
gap: 30px;
}

.footer__container {
align-items: baseline;
}

.header__container {
align-items: center;
}


/* Visually__hidden */


.visually__hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}


/* Section */


.section {
padding-top: 94px;
padding-bottom: 94px;
}

.title__section {
max-width: 1600px;
margin-left: auto;
margin-right: auto;
background-color: var(--secondary-bg-cl);
padding-top: 200px;
padding-bottom: 200px;
background-image:url(../images/Title/Overlay.png), url(../images/Title/Main.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.opportunity__section {
padding-top: 0;
}

.footer__section {
background-color: var(--secondary-bg-cl);
padding-top: 60px;
padding-bottom: 60px;
}

.team__section {
background-color:#F5F4FA;
}


/* Header */


.header {
background-color: var(--main-bg-cl);
border-bottom: 1px solid #ECECEC;
}




/* Nav */


.nav {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--main-txt-cl);
}


.nav__item {
position: relative; 
}

.header__nav-position {
margin-right: auto;
}

.nav--active {
    color: var(--accent-txt-cl);
    }
        
    .nav--active::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -26px;
    left: 0;
    background: var(--accent-txt-cl);
    border-radius: 2px;
    }
        


/* Logo */


.logo {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
letter-spacing: 0.03em;
color: var(--accent-txt-cl);
text-decoration: none;
}

.logo__black {
color: #000000;
}

.logo__light {
color: var(--main-bg-cl);   
}

.logo__footer {
margin-bottom: 20px;
}

.logo__contacts {
margin-right: 70px; 
flex-grow: 1;
}

.form__logo {
display: block;    
position: absolute;
left: 28px;
z-index: 10;   
}
    
.header__logo-position {
margin-right: 93px;
}

/* Main header text*/


.title__header {
width: 696px;
min-height: 120px;
margin-bottom: 30px;
margin-right: auto;
margin-left: auto;
font-weight: 900;
font-size: 44px;
line-height: calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-bg-cl);
}


.advantage__header {
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
color: var(--main-txt-cl); 
}

.team__header {
font-weight: 500;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl);
margin-bottom: 10px;
}

.text__header {
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
letter-spacing: 0.03em; 
color: var(--main-txt-cl);
text-align: center;
}

.filters__header {
font-weight: 700;
font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;
color: var(--main-txt-cl);
margin-bottom: 4px;
}

.modal__header {
font-weight: 700;
font-size: 20px;
line-height: calc(23 / 20);
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}


/* Paragraph text*/


.advantage__text {
width: 270px;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: var(--secondary-txt-cl); 
}

.opportunity__text {
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-bg-cl);
}

.team__text {
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
margin-bottom: 16px;
}

.footer__text {
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-bg-cl);
margin-bottom: 20px;
}

.filters__list--text {
font-weight: 400;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
}
    
.filters__text {
font-weight: 400;
font-size: 18px;
line-height: calc(28 / 18);
letter-spacing: 0.03em;
color: var(--main-bg-cl)
}

.modal__text {
margin-bottom: 4px;
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.01em;
color: var(--secondary-txt-cl);
}

.modal__field--text {
margin-bottom: 0px;       
}
 
.modal__comment--text {
width: 100%;
height: 120px;
resize: none;
outline: transparent;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 16px;
padding-right: 16px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border-color var(--animation);
}
    
.modal__comment--text::placeholder {
font-weight: 400;
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}

.footer__comment--text {
width: 358px;
height: 50px;
padding: 14px;
background: #2F303A;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;  
resize: none;  
outline: transparent;
}
    
.footer__comment--text::placeholder {
font-weight: 400;
font-size: 16px;
line-height: calc(20 / 16);
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);   
}

.modal__comment--text:hover,
.modal__comment--text:focus{
border-color: var(--accent-txt-cl);
}
    

/*Button*/


.btn:hover,
.btn:focus {
color: var(--main-bg-cl);
}

.btn {
width: 216px;
min-height: 50px;
padding: 10px 28px;
margin-right: auto;
margin-left: auto;
font-family: var(--main-font);
font-weight: 700;
font-size: 16px;
line-height: calc(30 /16);
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
border-radius: 4px;
color: var(--main-bg-cl);
background: var(--accent-txt-cl);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
transition: color var(--animation);
}

.filters__btn {
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl);
background: #F5F4FA;
border-radius: 4px;
cursor: pointer;
border: none;
min-height: 38px;
padding: 6px 22px;
transition: color var(--animation), background var(--animation), box-shadow var(--animation), border-radius var(--animation);
}

.filters__btn:hover,
.filters__btn:focus {
color: var(--main-bg-cl);
background: var(--accent-txt-cl);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px; 
}

.modal__btn {
position: absolute;
top: 8px;
right: 8px;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
background: var(--main-bg-cl);
padding: 0;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
cursor: pointer;
background-color: transparent;
transition: color var(--animation);
}
        
.form__btn {
width: 200px;   
position: relative; 
display: flex;
justify-content: center;
align-items: center;
gap: 10px;

}


/* Icon */


.icon {
fill: #AFB1B8;
transition: fill var(--animation);
}
    

.header__icon {
fill: var(--secondary-txt-cl);
stroke: none;
transition: fill var(--animation);
}

.header__item--link :hover .header__icon,
.header__item--link :focus .header__icon {
fill: var(--accent-txt-cl);
}

.advantage__icon{
display: flex;
align-items: center; 
justify-content: center;
width: 270px;   
height: 120px; 
background-color: var(--icon-bg-cl);  
margin-bottom: 30px;
border-radius: 4px;
}

.link__color:hover .icon,
.link__color:focus .icon {
fill: var(--main-bg-cl);
}

.customer__icon {
fill: #AFB1B8;
transition: fill var(--animation);
}

.customer__link:hover .customer__icon,
.customer__link:focus .customer__icon {
fill: var(--accent-txt-cl);
}

.footer--icon {
fill: var(--main-bg-cl);
}

.modal__icon {
position: absolute;  
left: 12px;
top: 50%;
transform: translateY(-50%);
transition: fill var(--animation);
}
   
.modal__cross--icon {
fill:#000000;
transition: fill var(--animation);
}
   
.modal__cross--icon:hover,
.modal__cross--icon:focus {
fill: var(--accent-txt-cl);  
}

.modal__input:focus-within ~ .modal__icon,
.modal__input:hover ~ .modal__icon
{
 fill: var(--accent-txt-cl);  

}

.modal__input:focus ~ .modal__icon, 
.modal__input:hover ~ .modal__icon 
{
fill: var(--accent-txt-cl); 
  
}

.modal__ckeckbox:checked + .modal__form--icons 
.modal__icon--checked {
opacity: 1;
}

.modal__icon--checked {
opacity: 0;
background: var(--accent-txt-cl);
border-radius: 2px;
transition: opacity var(--animation);
}

.modal__ckeckbox:checked + .modal__form--icons 
.modal__icon--unchecked {
opacity: 0;
}

.modal__icon--unchecked {
opacity: 1;
transition: opacity var(--animation);
}

.form__icon {
display: block;    
position: absolute;
right: 28px;
top: 13px;
z-index: 10;
fill: var(--icon-bg-cl);
}
    

/* Opportunity */


.title__indent {
margin-bottom: 50px;
}

.opportunity__box-item {
position: relative;
}


.opportunity__box-description {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(47, 48, 58, 0.8);
}


/* Our_team */


.team__color {
background: var(--main-bg-cl);   
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}


.team__item {
padding-top: 30px;
padding-bottom: 30px;
}


/* Footer */


.footer__network {
margin-right: 93px;      
}


.footer__address {
font-style: var(--fonts-st);
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: var(--main-bg-cl);
text-decoration: none;
}


.footer {
margin-bottom: 9px;
}

.footer__zero {
margin-bottom: 0;   
}


/* Filters */


.filters__list--filter {
display: flex;
gap: 8px;
margin-bottom: 50px;
justify-content: center;
}


.filters__list--shadow{
transition: box-shadow var(--animation);    
}

.filters__list--shadow:hover,
.filters__list--shadow:focus {
display: block;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);     
}


.filters__image {
 position: relative;   
 overflow: hidden;
}

.filters__overlay {
position: absolute;
top: 0;
left: 0;
transform: translateY(100%);
transition: var(--animation);
width: 100%;
height: 100%;
padding-left: 24px;
padding-right: 24px;
padding-top: 63px;
padding-bottom: 63px;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(33, 150, 243, 0.9);
transition: translate(--animation);
}


.filters__list--shadow:hover .filters__overlay,
.filters__list--shadow:focus .filters__overlay {
transform: translateY(0);  
}

.filters__item {
padding-left: 24px;
padding-right: 24px;
padding-top: 20px;
padding-bottom: 20px;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
}

/* Modal_window */

.backdrop {
position: fixed;
top: 0;
left: 0;
z-index: 100;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
opacity: 1;
visibility: visible;
transition-property: opacity, visibility;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
opacity: 0;   
pointer-events: none;
visibility: hidden;
}

.backdrop.is-hidden .modal {
transform: translate(0, 0) rotate(0);
}

.modal {
position: absolute;
padding: 40px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) rotate(360deg);
width: 528px;
height: 581px;
background-color: var(--main-bg-cl);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform var(--animation);
transition-duration: 1s;
}


@keyframes modal-window {

0% {
 opacity: 0;
 transform: translateY(1000px) scale(0.7);
}   

25% {
 transform: translateY(-100px);
 transform-origin: center;
}

100% {
 opacity: 1;
 transform: scale(1);
 transform-origin: center;
}

}

.modal__field {
position: relative;
display: flex;
flex-direction: column;
}

.modal__field--modal {
 margin-bottom: 10px;   
}


.modal__input {
 width: 100%;   
 height: 40px;
 padding-left: 42px;
 padding-right: 42px;
 border: 1px solid rgba(33, 33, 33, 0.2);
 border-radius: 4px;
 outline: transparent;
 transition: border-color var(--animation);
}


.modal__group {
margin-bottom: 20px;   
}

.modal__information {
transition: fill var(--animation); 
position: relative;     
}


.modal__input:hover,
.modal__input:focus {
border-color: var(--accent-txt-cl);       
}

.modal__fild--checkbox {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
gap: 7px;
}

.modal__form--desc {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
user-select: none;
}

.modal__form--link {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: var(--accent-txt-cl);

}


.footer__comment {
display: flex;
align-items: center;
justify-content: center;
gap: 12px;   
}
