.filters__buttom {
list-style: none;
margin: 0;

flex-wrap: wrap;
display: flex;
gap: 15px 8px;
margin-bottom: 40px;

//justify-content: center;

//tablet styles
//desktop styles
@media screen and (min-width: 768px){
justify-content: center;
width: 100%;
margin-bottom: 50px;
}    

}
    
.filters__list {
list-style: none;
margin: 0;
flex-grow: 1;
flex-wrap: wrap;
display: flex;
gap: 30px;


//tablet styles
//desktop styles
@media screen and (min-width: 768px){
padding: 0;

}    

}

.filters__item {
display: flex;

}


.filters__link {
text-decoration: none;
color: currentColor;
font-family: var(--main-font);
font-style: var(--fonts-st);
font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;
color: var(--main-txt-cl);
transition: color var(--animation), box-shadow var(--animation);  
display: flex;  
flex-direction: column;  
        
&:hover,
&:focus
{
color: var(--accent-txt-cl);
}
    
&:hover,
&:focus {
display: block;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);     
}

&:hover .filters__overlay,
&:focus .filters__overlay {
transform: translateY(0);  
}
}
    
    
.filters__image {
position: relative;   
overflow: hidden;
}
    
.filters__overlay {
position: absolute;
top: 0;
left: 0;
transform: translateY(100%);
transition: var(--animation);
width: 100%;
height: 100%;
padding-left: 24px;
padding-right: 24px;
padding-top: 63px;
padding-bottom: 63px;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(33, 150, 243, 0.9);
transition: translate(--animation);
}
    

.filters__box {
padding-left: 24px;
padding-right: 24px;
padding-top: 20px;
padding-bottom: 20px;
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
flex-grow: 1;

//tablet styles
@media screen and (min-width: 768px) {
width: 354px;  
//height: 146px;
}    

//desktop styles
@media screen and (min-width: 1200px) {
width: 100%;  
}

}

.filters__btn {
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: calc(26 / 16);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl);
background: #F5F4FA;
border-radius: 4px;
cursor: pointer;
border: none;
min-height: 38px;
padding: 6px 22px;
transition: color var(--animation), background var(--animation), box-shadow var(--animation), border-radius var(--animation);
        
        
&:hover,
&:focus {
color: var(--main-bg-cl);
background: var(--accent-txt-cl);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px; 
}
}

.filters__title {
font-weight: 700;
font-size: 18px;
line-height: calc(36 / 18);
letter-spacing: 0.06em;
color: var(--main-txt-cl);
margin-bottom: 4px;
}


.filters__text {
font-weight: 400;
font-size: 16px;
line-height: calc(30 / 16);
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
}

        
.filters__desc {
font-weight: 400;
font-size: 18px;
line-height: calc(28 / 18);
letter-spacing: 0.03em;
color: var(--main-bg-cl)
}