
.opportunity {
display: none;



//desktop styles
@media screen and (min-width: 1200px) {
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 30px;
}    
}
    
.opportunity__item {
position: relative;
}

.opportunity__box-description {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(47, 48, 58, 0.8);
}

.opportunity__text {
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-bg-cl);
}