
.team {
list-style: none;
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
gap: 30px;

//tablet styles
//@media screen and (min-width: 768px) {

//flex-direction: column row;

//}    
           
//desktop styles
//@media screen and (min-width: 1200px) {

//flex-direction: row;

//}


}


.team__item {
background: var(--main-bg-cl);   
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}  
    
.team__box {
padding-top: 30px;
padding-bottom: 30px;
}

.team__title {
font-weight: 500;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color: var(--main-txt-cl);
margin-bottom: 10px;
}

.team__text {
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-txt-cl);
margin-bottom: 16px;
}
    

