
:root {

    /* Fonts */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    
    /* Text colors */
    --main-txt-cl: #212121;
    --secondary-txt-cl: #757575;
    --accent-txt-cl: #2196F3;
       
    /* Background colors */
    --main-bg-cl: #FFFFFF;
    --secondary-bg-cl: #2F303A;
    --icon-bg-cl:  #F5F4FA;
    
    /* Others */
    --fonts-st: normal;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}